
<div class="flex justify-center pt-10">
  <div class="w-full max-w-md  bg-white rounded-xl shadow-lg p-8">
    <h2 class="text-2xl text-center mb-6 font-bold">会員登録</h2>
    <%= form_with url: user_registration_path, scope: :user, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :name, class: "block text-xl font-medium mb-1"  %>
        <%= f.text_field :name, class: "w-full border border-gray-300 rounded px-4 py-2 text-lg" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, class: "block text-xl font-medium mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border border-gray-300 rounded px-4 py-2 text-lg" %>
      </div>

      <div class="mb-4 field">
        <%= f.label :"パスワード 6文字以上必須", class: "block text-xl font-medium mb-1"%>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full border border-gray-300 rounded px-4 py-2 text-lg" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード再確認", class: "block text-xl font-medium mb-1"%>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full border border-gray-300 rounded px-4 py-2 text-lg" %>
      </div>


      <div class="actions flex justify-center mt-4">
        <%= f.submit ("会員登録"), class: "text-xl py-2 px-22 rounded-xl bg-amber-500 text-white font-bold hover:bg-amber-600 cursor-pointer" %>
      </div>
    <% end %>

    <div class="mt-2 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
