<%= form_with model: @shop, local: true, html: { class: "max-w-xl mx-auto bg-white p-8 rounded shadow-md" }  do |form| %>

<h1>お店の編集</h1>
  <div>
    <%= form.label :title, "お店", class: "block font-semibold mb-1" %>
    <%= form.text_field :title, class: "w-full border border-gray-300 rounded px-3 py-2" %>
</div>

<div>
    <%= form.label :address, "住所", class: "block font-semibold mb-1" %>
    <%= form.text_field :address, class: "w-full border border-gray-300 rounded px-3 py-2" %>
</div>

<div class="mb-4">
  <%= form.label :category_id, "カテゴリ" %>
  <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリを選択" %>
</div>

  <div class="mb-4">
    <%= form.label :images, "お店の画像" %>
    <%= form.file_field :images, class: "border px-4 py-2 rounded w-full" %>
  </div>

<div>
    <%= form.submit "登録", class: "font-semibold mb-1" %>
  </div>
<% end %>