<div class="flex justify-center pt-10">
  <%= form_with model: @shop, local: true, data: { turbo: false }, html: { class: "max-w-xl mx-auto bg-white p-8 rounded shadow-md" }  do |form| %>

  <% if @shop.errors.any? %>
    <div class="mb-4 p-3 bg-red-50 border border-red-200 rounded">
      <p class="font-bold text-red-600">
        入力エラー（<%= @shop.errors.count %>件）
      </p>
      <ul class="list-disc ml-5 text-red-600">
        <% @shop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="text-2xl text-center mb-6 font-bold">お店の登録</h1>
    <div>
      <%= form.label :title, "店名", class: "block font-semibold mb-1" %>
      <%= form.text_field :title, class: "w-full border border-gray-300 rounded px-3 py-2" %>
  </div>

  <div>
      <%= form.label :address, "住所", class: "block font-semibold my-4" %>
      <%= form.text_field :address, class: "w-full border border-gray-300 rounded px-3 py-2" %>
  </div>

    <div class="my-4">
      <%= form.label :category_id, "カテゴリ", class: "block font-semibold mb-1"%>
      <%= form.collection_select :category_id, Category.all, :id, :name,  { prompt: "カテゴリを選択" }, { class: "w-full border border-gray-300 rounded px-3 py-2 bg-white " } %>
    </div>

    <div class="mb-4">
      <label class="block font-semibold mb-1">デートシーン</label>
      <%= form.collection_check_boxes :scene_ids, Scene.order(:name), :id, :name do |b| %>
        <label class="inline-flex items-center mr-4">
          <%= b.check_box %>
          <span class="ml-1"><%= b.text %></span>
        </label>
      <% end %>
    </div>

    <div class="mb-6">
      <%= form.label :images, "お店の画像", class: "block font-semibold mb-1" %>
      <%= form.file_field :images, multiple: true, accept: "image/*", direct_upload: true, class: "w-full border rounded px-3 py-2" %>
      <p class="text-sm text-gray-500">※ 複数選択できます（⌘/Ctrlキーで選択）</p>
    </div>

    <div class="text-center">
      <%= form.submit "登録", class: "btn text-xl bg-[#D5A273] text-white hover:bg-[#b77f53]  px-10" %>
    </div>
  <% end %>
</div>
