<%#現在のコントローラー名が sessions でない場合だけ、ログインリンクを表示する%>
<%- if controller_name != 'sessions' %>
  <%= link_to "ログインはこちら", new_user_session_path %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "会員登録はこちら", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="flex items-center justify-center border border-gray-300 py-2 mt-4 mx-16 rounded-md ">
      <%= image_tag "googleicon.png", alt: "googleアイコン", class:"w-7 h-7 mx-2" %>
      <%= button_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class:"text-lg cursor-pointer" %>
    </div>
  <% end %>
<% end %>


<%#= button_to "Googleでログイン", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class:"text-lg cursor-pointer" %>