  <div class="w-full max-w-4xl mx-auto px-6 text-center mt-10 mb-15">
    <%= image_tag "logo.png", alt: "ロゴ画像", class: "h-14 mx-auto" %>

      <!-- <picture> を使ってスマホ用とPC用の画像を切替、PC用はmob付かない hero1.png -->
    <div class="mt-8 relative rounded-2xl overflow-hidden shadow-xl slideshow h-[50vh]">
      <picture>
        <source srcset="<%= asset_path('hero1mob.png') %>" media="(max-width: 640px)">
        <img src="<%= asset_path('hero1.png') %>" alt="" class="slide">
      </picture>
      <picture>
        <source srcset="<%= asset_path('hero2mob.png') %>" media="(max-width: 640px)">
        <img src="<%= asset_path('hero2.png') %>" alt="" class="slide">
      </picture>
      <picture>
        <source srcset="<%= asset_path('hero3mob.png') %>" media="(max-width: 640px)">
        <img src="<%= asset_path('hero3.png') %>" alt="" class="slide">
      </picture>
    </div>

    <p class="mt-8 text-2xl md:text-4xl font-extrabold leading-normal" style="font-family: 'Mochiy Pop One', sans-serif;">
      “デート迷子”にさよなら<br>
      もう「どこ行く？」で悩まない。
    </p>
    <p class="my-4 text-sm text-red-500 ">
      ※ご利用には会員登録が必要です
    </p>
    <div class="mb-4">
      <%= link_to "会員登録", new_user_registration_path,
        class: "block text-xl md:text-2xl px-1 md:px-12 py-4 md:py-5 rounded-xl bg-amber-500 text-white font-bold hover:bg-amber-600 transition shadow-md" %>
    </div>
  </div>

<div class="text-center mb-10">
  <h2 class="text-xl font-bold mt-6">使用技術</h2>
  <p class="mt-2"><span class="font-semibold">バックエンド:</span> Ruby on Rails</p>
  <p><span class="font-semibold">フロントエンド:</span> HTML / CSS / Tailwind CSS / JavaScript</p>
  <p><span class="font-semibold">データベース:</span> PostgreSQL</p>
  <p><span class="font-semibold">インフラ:</span> Render</p>
  <p><span class="font-semibold">外部サービス:</span> Google Maps API / Google Geocoding API</p>
</div>


<style>
.slideshow { position: relative; }
.slideshow picture { position:absolute; inset:0; }

.slideshow picture img{
  width:100%; height:100%;
  object-fit: cover
  opacity:0;
  animation: crossfade 12s infinite;
}

.slideshow picture:nth-child(1) img { animation-delay: 0s; }
.slideshow picture:nth-child(2) img { animation-delay: 4s; }
.slideshow picture:nth-child(3) img { animation-delay: 8s; }

@keyframes crossfade {
  0%{opacity:0}
  8%{opacity:1}
  33%{opacity:1}
  41%{opacity:0}
  100%{opacity:0}
}
</style>
