<%# app/views/kaminari/_paginator.html.erb %>
<%# locals: current_page, total_pages, per_page, remote, ... %>
<%= paginator.render do %>
  <nav class="flex items-center justify-center mt-6" role="navigation" aria-label="Pagination">
    <ul class="inline-flex items-center gap-1">
      <%= prev_page_tag %>
      <% each_page do |page| %>
        <% if page.display_tag? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? %>
          <%= gap_tag %>
        <% end %>
      <% end %>
      <%= next_page_tag %>
    </ul>
  </nav>
<% end %>