<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :GOOGLE_MAPS_API_KEY) %>&libraries=marker,places&loading=async">
    </script>

    <meta name="description" content="地図から直感的にお店を探せるアプリです。">
    <!-- OGP -->
    <meta property="og:title" content="デート迷子にさよなら！ | ドコデート" />
    <meta property="og:description" content="地図から直感的にお店を探せるアプリです。" />
    <meta property="og:image" content="<%= asset_url('ogp.png') %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <!-- Twitterカードも追加 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
  </head>

<body class="flex flex-col min-h-screen bg-yellow-100">
  <!-- 1) ヘッダー -->
  <%= render "layouts/header" %>

  <%= render "layouts/flash" %>

  <!-- 3) コンテンツ ローディングアニメーションをメインの中で表示-->
  <main class="relative flex-1">
    <div id="loading" class="absolute inset-0 flex items-center justify-center bg-white/80 hidden">
      <div class="loader"></div>
    </div>
    <%= yield %>
  </main>

  <%= render "layouts/footer" %>
</body>

</html>
